In [2]:
x=3
print(x)

3

In [1]:
x='ashfaqi'
print(x)

ashfaqi

In [6]:
name = 'kamraan'
age = 27
print('My name is ',name)
print("and i am", age ,"year old")

My name is  kamraan
and i am 27 year old

In [7]:
x='my name is '
print(x +"ashfaq")

my name is ashfaq

In [8]:
a,b,=10,1000
print('The value of a is {} and b is {}'.format(a,b))

The value of a is 10 and b is 1000

In [9]:
n = input('Enter the number: ')
print("entered number is ",n)
print(type)

entered number is  3
<class 'type'>

In [10]:
n = input('Enter the Number: ')

print('Number Entered by User:',n)

print(type(n))

Number Entered by User: 2
<class 'str'>

In [16]:
#type casting 
x=str(5)
y=int(5)
z=float(5)
print(x,y,z,sep='\t')

5	5	5.0

In [13]:
x = str(5)
y = int(5)
z = float(5)

print("{} {} {}".format(x, y, z))

5 5 5.0

In [8]:
x = str(5)
y = int(5)
z = float(5)
          
print(f"{x} {y} {z}")

5 5 5.0

In [11]:
name = "kamraan"
age = 26
formatted_string = "my name is {} and i am {} years old. ".format(name,age)
print(formatted_string)

my name is kamraan and i am 26 years old.

In [12]:
name = "ashfaq"
age= 27 
formatted_string = f"My name is {name} and i am {age} years old ."
print(formatted_string)

My name is ashfaq and i am 27 years old .

In [17]:
print('*\t' *4)

*	*	*	*

In [1]:
price = 10
rating = 2.3
name = 'ashfaq'
is_published = True